circle.even {
  fill: #0074D9;
  stroke: #0074D9;
  stroke-width: 1.5px;
}

circle.odd {
  fill: #7FDBFF;
  stroke: #7FDBFF;
  stroke-width: 1.5px;
}

.node circle {
 cursor: pointer; 
}

.node {
  font: 10px sans-serif;
}

.link {
  stroke: #ccc;
  stroke-width: 2.5px;
}

#vis{
  min-height: 600px !important;
  min-width: 600px !important;
}

#vis2{
  min-height: 600px !important;
  min-width: 100px !important;
}
